.BarraLateral {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252422;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.BarraLateral h1 {
  font-size: 40px;
  color: #ef476f;
}
  
.BarraLateral button, p, .link {
  padding: 6px;
  text-decoration: none;
  font-size: medium;
  display: block;
  color: #252422;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link:hover {
  color: #ef476f;
}
