.container {
    background-color: #ef476f;
    width: 100%;
    height: 90px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeBtn :hover{
    color: #252422; 
}

.HomeBtn{
    color: #f4f3ee;
    text-decoration: none;
}